#
# User controllable configuration parameters for docx2txt.pl
#
# Note:
#     - Ensure that all configuration lines end with single comma (,).
#     - Lines beginning with '#' are comments.
#

#
# Specify the path to "unzip" command.
#
# Windows users should specify this path like
#
# 'C:\Cygwin\bin\unzip.exe'	(With Windows native perl.exe)
# Or
# 'C:/Cygwin/bin/unzip.exe'	(With Cygwin/Windows native perl.exe)
#
# Default : '/usr/bin/unzip'
#
#config_unzip         => 'C:\Program Files\GnuWin32\bin\unzip.exe',
config_unzip         => '/usr/bin/unzip',

#
# How the newline should be in output text file - "\n" or "\r\n".
#
# Default : "\n"
#
# config_newLine       => "\n",

#
# How to indent nested lists - by "\t", " " or "  " etc.
#
# Default : "  "
#
# config_listIndent    => "  ",

#
# Line width to use for short line (single line paragraph) justifiction.
#
# Default : 80
#
# config_lineWidth     => 80,

#
# Show hyperlink alongside linked text - [yY/nN]
#
# Note: Even if this option is enabled, hyperlinks will be shown only if
#       hyperlink differs from the linked text.
#
# Default : N
#
config_showHyperLink => "Y",

#
# Directory for creation of temporary file.
#
# In case input is provided via STDIN (standard input), it is first stored in a
# temporary file and then further processing is done using that file.
# Same path specification rules apply here as in case of config_unzip.
#
# Default : "/tmp" (Non-Windows OSes), Environment variable "TEMP" (Windows)
#
# config_tempDir => "/path/to/your/temp/directory",

#
# Extra conversion of &...; sequences - [yY/nN]
#
# EXPERIMENTAL second pass for converting &...; sequences for experimental text
# experience, after sequences like "&amp;laquo;" are converted to "&laquo;".
#
# Note that it will change the text content as compared to when original docx
# file is viewed via docx file viewers.
#
# Default : N
#
# config_exp_extra_deEscape = "N",

